name: Symbiotest

on:
  push:
    branches:
      - '*'
  
jobs: 
  Checkov-IaC-Security-scan:
      runs-on: ubuntu-latest
  
      steps:
        - uses: actions/checkout@v3
  
        - name: Checkov IaC Security Scan
        uses: bridgecrewio/checkov-action@v12
        with:
          # This will add both a CLI output to the console and create a results.sarif file
          output_format: cli,sarif
          output_file_path: console,results.sarif